body, body * {
    font-family: 'Montserrat', sans-serif;
    color: #494949;
}

body {
    background-color: #40a63d1a;
}
.navbar-brand{
	background-color: #f8f9fa;
	color: #de0336;
}
.navbar{
	width: 100%;
}
#card{
	display: flex;
	margin-left: 80px;
	justify-content: center;
	/*align-items: center;*/
	width: 100%;
	background-color: #ebf5eb;
	flex-wrap: wrap;

}
#left{
	/*width: 50%;*/
	/*flex-wrap: wrap;*/
	min-width: 300px;
}
#left i{
	color: #5ea32a;
	margin-right: 10px;
}
#left h2{
	margin-top: 20px;
}
#right{
	/*display: flex;*/
	
	width: 20%;
	min-width: 600px;
	margin-left: 20px;
	/*flex-wrap: wrap;*/
}
#right button{
		margin-top: 105px;
}
.back-img{
	height: 320px;
	width: 650px;
	background-size: cover;
	background-position: center;
}
#calender{
	display: flex;
	background-color: white;
	width: 650px;
	border-bottom: 1px solid #808080cc;
}
#community{
	color: #5ea32a;
}
.fa-user{
	margin-left: 10px;
}
#right-text{
	background-color: white;
	width: 360px;
	border-radius: 7px;
	padding: 20px;
}
#left-text{
	background-color: white;
	width: 650px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 20px;
}
#right-h3{
	/*background-color: white;
	width: 650px;*/
}
@media only screen and (max-width: 1100px) {
	/*#left{
		width: none !important;
	}*/

}
@media only screen and (max-width: 640px) {
	.back-img{
		width: 500px;
	}
	#left-text{
		width: 500px;
	}
	.navbar{
		width: 525px;
	}
	#calender{
		width: 500px;
	}
	#right-text{
		width: 500px;
	}
	#card{
		justify-content: left;
		margin: 20px;
	}
	#right{
		margin: 0px;
	}
	#right button{
		margin-top: 20px;
	}
}

/* Write all your CSS here! */